<launch>
	<include file="$(find assembled)/launch/assembled_move_base.launch">
		<arg name="use_gui" value="false"/>
	</include>

	<!--  ************** gmapping ***************  -->
	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen"/>

	<!--  ************* Visualisation **************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find assembled)/cfg/rviz_slam_base_local_planner.rviz" required="true" />
</launch>
 