<launch>
	<!-- use serial port? -->
	<arg name="use_sp" default="true"/>
	<arg name="use_telep_keyboard" default="false"/>
	<arg name="use_controller" default="true"/>

	<arg name="use_gui" default="false"/>

	<!-- include robot description bring up launch file -->
	<include if="$(arg use_controller)" file="$(find assembled)/launch/robot_description_bringup.launch">
		<arg name="use_gui" value="false"/>
	</include>

	<!--  ************** Odometry ***************  -->
	<rosparam file="$(find assembled)/config/assembled_param.yaml" command="load" />

	<node if="$(arg use_controller)" name="assmebled_controller" pkg="assembled" type="assembled_node" output="screen">
	</node>

	<node  if="$(arg use_gui)" type="rviz" name="rviz" pkg="rviz" args="-d $(find assembled)/rviz/config_file.rviz" />
	
	<node if="$(arg use_telep_keyboard)" name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />

	<node if="$(arg use_sp)" name="serial_node" pkg="rosserial_python" type="serial_node.py">
	<!-- change this to match what you get with "ls /dev/" -->
		<param name="port" value="/dev/ttyACM0"/>
	</node>
		
	<!-- bring up of assembled the diff drive controller -->

</launch>
