<launch>
				<!--  ************** Odometry ***************  -->
	<arg name="use_gui" default="true"/>
	<param name="robot_description"  command="xacro --inorder '$(find assembled)/urdf/assembled.urdf.xacro'"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
		
	<node if="$(arg use_gui)" type="rviz" name="rviz" pkg="rviz" args="-d $(find assembled)/rviz/config_file.rviz" />

	<!-- rosrun rosserial_python serial_node.py /dev/ttyUSB0 -->
</launch>
